*{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans TC', sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)) ,url(./images/banner.png);  
    background-size: cover;
    position: relative;
    background-position: center;
}
nav{
    justify-content: space-between;
    display: flex;
    padding: 2% 6%;
    align-items: center;
}
nav img{
    width: 150px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px ;
    position: relative;
}
.nav-links ul li a{
    color: white;
    text-decoration: none;

}
.nav-links ul li::after{
    content: '';
    display: block;
    height: 2px;
    width: 0%;
    margin: auto;
    background-color:red;
    transition: 0.5s;

}
.nav-links ul li:hover::after{
    width: 100%;
}

.text-box{
    width: 60%;
    color: white;
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%,-50%);
    align-items: center;
}
.text-box h1{
    font-size: 62px;
    
    
}
.text-box p{
    font-size: 17px;
    margin: 10px 60px 20px;
}
h1{
    padding-left: -10px; 
}
.q1{
    text-decoration: none;
    color: white;
    border: 2px solid white;
    background: transparent;
    padding: 12px 34px;
    position: relative;
    font-size: 20px;
    display: inline-block;
    cursor: pointer;
    margin: 10px 270px;
}

.q1:hover{
    background-color: red;
    border: 2px solid red;
    transition: 0.5s ease-in-out;
}

/* COURSES */
.course{
    width: 80%;
    margin: auto;
    text-align:center ;
    padding-top: 80px;
}
h1{
    font-size: 50px;
    font-weight: 300px;
}
p{
    font-size: 16px;
    line-height:30px ;
    padding: 10px;
}
.row{
    display: flex;
    justify-content: space-between;
    margin: 50px;
}
.course-column{
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}
h3{
    text-align: center;
    margin: 10px 0;
    font-weight: 600;
}
.course-column:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}
@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
}


/* campus */

.campus{
    width: 80%;
    text-align: center;
    padding-top: 50px ;
    margin: auto;
}

.campus-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.campus-col img{
    width: 100%;
    display: block;
    border-radius: 10px;
}
.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;  
    transition: 0.5s;
}
.layer:hover{
    background: rgba(226,0,0,0.7);
}

.layer h3{
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}
.layer:hover h3{
    opacity: 1;
    bottom: 49%;
}


/* FACILITIES */

.facilities{

    width: 80%;
    text-align: center;
     padding-top: 50px ;
     margin: auto;
    
}

.facilities-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    
}
.facilities-col img{
    width: 100%;
    border-radius: 10px;
    display: block;
}
.facilities-col p{
    text-align: center;
    padding: 0;
}
.facilities-col h3{
    margin-top: 30px;

}

/* TESTIMONIALS */
.testimonials{
    width: 80%;
    text-align: center;
     padding-top: 50px ;
     margin: auto;
}

.testimonials-col{
    flex-basis: 48%;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 30px;
    cursor: pointer;
    text-align: left;
    background: #fff3f3;
    display: flex;

}
.testimonials-col img{
    border-radius: 50%;
    height: 40px;
    margin-left: 5px;
    margin-right: 30px;

}
.testimonials-col p{
    padding: 0;
}
.testimonials-col h3{
    text-align: left;
    margin-top: 15px;
}
.testimonials-col .fa{
    color: #f44336;
}

/* CONTACTS */
.cta{
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7) ), url(./images/banner2.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    padding: 100px 0;
    border-radius: 10px; 
}

.cta h2{
    padding: 0;
    margin-bottom: 50px;
    color: white;
}

/* FOOTER */
.footer{
    width: 100%;
    text-align: center;
    padding: 10px 0;
}
.footer h1{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 25px;
}
.icons .fa{
    color: #f44336;
    margin: 0 13px;
    padding: 18px 0;
    cursor: pointer;

}
.icons i{
    /* display: inline; */
    margin: 10px;
}

 /* #glitch{
    position: absolute;
    cursor: pointer;
    transform: translate(-50%,-50%);
    top: 105%;
    left: 50%;

}
  #glitch::before , ::after{
    left:0px;
    top:0px;
    position: relative;
    content: 'GLITCH';
    display: block;

}
#glitch::before{
    color: blue;
    animation: glitch .3s linear 6;
    z-index: -2;
}
#glitch::after{
    color: red;
    animation: glitch .3s linear 6 reverse;
    z-index: -1;
}     */

